# General
.DS_Store
Thumbs.db
*.log
*.tmp

# IDEs
.vscode/
.idea/

# Python / Node
__pycache__/
*.py[cod]
node_modules/

# Power BI
*.pbit
*.pbix.user

# Data / Secrets
*.env
.env
.env.local
data/raw/
*.dump
*.sql.gz